<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
    <main class = "container">
        <div class = "row">
          <div *ngIf = "error">{{error}}</div>
          <div *ngIf = "success">{{succcess}}</div>
        </div>
        <br>
        <div class="table row">
          <table>
            <thead>
              <tr>
                <th> Car </th>
                <th> Price </th>
                <th> Update </th>
                <th> Delete </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cars">
                  <td> {{item.model}} </td>
                  <td> <input type="number" min = "1" class="form-control" value = "{{item.price}}"> </td>
                  <td> <a href = "#" class = "btn btn-sm btn-outline-success"> Update </a> </td>
                  <td> <a href = "#" class = "btn btn-sm btn-outline-danger"> Delete </a> </td>
                </tr>
              </tbody>
            </table>
        </div>
    </main>
</body>
</html>